{% extends 'base.html' %}
{% block title %}
    Update
{% endblock %}
{% block content %}
    <h4>Update Lowongan / <u>{{lowongan}}</u></h4>
    <form action="{% url 'lowongan_update' lowongan.id %}" method="POST">
        {% csrf_token %}
        <div class="mb-2">
            <label for="judul_lowongan">Judul Lowongan</label> <br>
            <input type="text" name="judul_lowongan" value="{{ lowongan.judul_lowongan }}">
        </div>
        <div class="mb-2">
            <label for="judul_lowongan">Deskripsi Lowongan</label> <br>
            <input type="text" name="deskripsi_lowongan" value="{{ lowongan.deskripsi_lowongan }}">
        </div>
        <div class="mb-2">
            <label for="judul_lowongan">Deadline Lowongan</label> <br>
            <input type="date" name="tanggal_tutup" value="{{ lowongan.tanggal_tutup }}">
        </div>
        <input type="submit" class="btn btn-secondary btn-sm" value="Update">
        <p class="mt-2">
            <a href="{% url 'lowongan_detail' lowongan.id %}">Cancel</a>
        </p>
    </form>
{% endblock %}