{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h4>Konfirmasi hapus lowongan</h4>
    <form action="{% url 'lowongan_hapus' lowongan.pk %}" method="POST">
        {% csrf_token %}
        <div class="mb-2">
            <p>
                {{ lowongan.judul_lowongan }}
            </p>
        </div>
        <input type="submit" class="btn btn-danger btn-sm " value="Hapus">
        <a class="m-3" href="{% url 'lowongan_detail' lowongan.id %}">Cancel</a>
    </form>
{% endblock %}