{% extends 'base.html' %}
{% block title %}
        {{ title }}
{% endblock %}
{% block content %}
    <h4>Semua Lowongan</h4>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Lowongan</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Buka sampai</th>
            {% if request.user.role == 'HCD' %}
              <th scope="col">Lihat Pelamar</th>
            {% endif %}
          </tr>
        </thead>
        {% if request.user.role == 'HCD' %}
        <div>
          <a class="btn btn-secondary btn-sm" href="{% url 'lowongan_tambah' %}">Tambah</a>
        </div>
        {% endif %}
        <tbody>
          {% for lowongan in semua_lowongan %}
            <tr>
                <td>
                    <a href="{% url 'lowongan_detail' lowongan.id %}">{{ lowongan.judul_lowongan }}</a>
                </td>
                <td>{{ lowongan.deskripsi_lowongan }}</td>
                <td>{{ lowongan.tanggal_tutup }}</td>
                <td>
                  {% if request.user.role == 'HCD' %}
                    <a href="{% url 'lowongan_detail' lowongan.id %}">Lihat Pelamar</a>
                  {% endif %}
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock %}