{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h4>Tambah Lowongan baru</h4>
    <form action="{% url 'lowongan_tambah' %}" method="POST">
        {% csrf_token %}
        <div class="mb-2">
            <label for="judul_lowongan">Judul Lowongan</label> <br>
            <input type="text" name="judul_lowongan">
        </div>
        <div class="mb-2">
            <label for="judul_lowongan">Deskripsi Lowongan</label> <br>
            <input type="text" name="deskripsi_lowongan">
        </div>
        <div class="mb-2">
            <label for="judul_lowongan">Deadline Lowongan</label> <br>
            <input type="date" name="tanggal_tutup">
        </div>
        <input type="submit" class="btn btn-secondary btn-sm" value="Tambah">
    </form>
{% endblock %}