<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export PDF</title>
</head>
<body>
    <h4>Semua Lamaran</h4>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Lowongan</th>
            <th scope="col">Pelamar</th>
            <th scope="col">Tanggal Lamar</th>
            <th>CV Pelamar</th>
            <th>Portofolio</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for lamaran in semua_lamaran %}
            <tr>
                <td>{{ lamaran.lowongan }}</td>
                <td>{{ lamaran.pelamar.nama }}</td>
                <td>{{ lamaran.tanggal_lamar }}</td>
                <td>
                    <a href="{{ lamaran.cv_pelamar }}" target="blank">CV url</a>
                </td>
                <td>
                    <a href="{{ lamaran.portofolio_link }}" target="blank">Portofolio url</a>
                </td>
                <td>{{ lamaran.status }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</html>