{% extends 'base.html' %}
{% block title %}
        Hasil ujian anda
{% endblock %}
{% block content %}
    <h4>Hasil test: <u>{{select_lamaran.lowongan}}</u></h4>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Pelamar</th>
            <th scope="col">Temu Bakat</th>
            <th scope="col">Psikologi</th>
            <th scope="col">Coderbytes</th>
            <th scope="col">Hasil Akhir</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ select_lamaran.pelamar }}
                </td>
                <td>
                    <p>Soal: <a href="{{ select_lamaran.test_temu_bakat }}">{{ select_lamaran.test_temu_bakat }}</a></p>
                    <p>hasil: <a href="{{ select_lamaran.hasil_temu_bakat }}">{{ select_lamaran.hasil_temu_bakat }}</a></p>
                </td>
                <td>
                    <p>Soal: <a href="{{ select_lamaran.test_temu_bakat }}">{{ select_lamaran.test_psikologi }}</a></p>
                    <p>hasil: <a href="{{ select_lamaran.hasil_temu_bakat }}">{{ select_lamaran.hasil_psikologi }}</a></p>
                </td>
                <td>
                    <p>Soal: <a href="{{ select_lamaran.test_temu_bakat }}">{{ select_lamaran.test_coderbyte }}</a></p>
                    <p>hasil: <a href="{{ select_lamaran.hasil_temu_bakat }}">{{ select_lamaran.hasil_coderbyte }}</a></p>
                </td>
                {% if request.user.role == 'Pelamar' %}
                    <td>
                        {{ select_lamaran.hasil_akhir }}
                    </td>
                {% elif request.user.role == 'Korektor' %}
                    <td>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ tentukan_hasil_akhir_form.hasil_akhir }} <br>
                            <button class="btn btn-success btn-sm m-2" type="submit">Submit</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
{% endblock %}