{% extends 'base.html' %}
{% block title %}
        Lamar Lowongan
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h5>Kirim hasil test / {{ select_lamaran.lowongan }}</h5>
        <small class="text-danger"><b>Note: </b> Setelah hasil dikirim anda tidak dapat mengirim ulang hasil test!</small>
        <div class="mb-2">
            <label for="email" class="form-label">Hasil test temu bakat</label> <br>
            <input type="url" name="hasil_temu_bakat" placeholder="Link hasil Temu bakat">
        </div>
        <div class="mb-2">
          <label for="nama" class="form-label">Test Psikologi link</label> <br>
          <input type="url" name="hasil_psikologi" placeholder="Link hasil Psikologi">
        </div>
        <div class="mb-2">
            <label for="bio" class="form-label">Codebyte Challages</label> <br>
            <input type="url" name="hasil_coderbyte" placeholder="Link hasil Codebytes">
        </div> <br>
        <button type="submit" class="btn btn-secondary btn-sm">Kirim</button>
        <a class="p-3" href="{% url 'lamaranku' %}">Cancel</a>
    </form>
{% endblock %}