{% extends 'base.html' %}
{% block title %}
        Detail Lowongan
{% endblock %}
{% block content %}
    <h6><u>{{ lowongan }}</u></h6>
    <p>Deskripsi: {{ lowongan.deskripsi_lowongan }}</p>
    <p>Deadline: {{lowongan.tanggal_tutup}}</p>
    {% if request.user.role == 'HCD' %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nama</th>
                <th scope="col">Email</th>
                <th scope="col">Tanggal Lamar</th>
                <th scope="col">CV Pelamar</th>
                <th scope="col">Portofolio</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
            {% if lamaran %}
                <tr>
                  <td>{{lamaran.pelamar.nama}}</td>
                  <td>{{lamaran.pelamar.email}}</td>
                  <td>{{lamaran.tanggal_lamar}}</td>
                  <td>
                    <a href="">Donwload CV</a>
                  </td>
                  <td>
                    <a href="{{ lamaran.portofolio_link }}" target="blank">Portofolio link</a>
                  </td>
                  <td>
                      <form action="{% url 'detail_lamaran' lamaran.pk %}" method="post">
                          {% csrf_token %}
                          <div class="mb-2">
                              {{ tandai_form.status }}
                              <button class="btn btn-secondary btn-sm" type="submit">Submit</button>
                            </div>
                      </form>
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
    {% endif %}
{% endblock %}