{% extends 'base.html' %}
{% block title %}
        Lamaranku
{% endblock %}
{% block content %}
    {% if request.user %}
        <h4>Semua Lamaran ku</h4>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Lowongan</th>
                <th scope="col">Email</th>
                <th scope="col">No. Telpon</th>
                <th scope="col">CV Terkirim</th>
                <th scope="col">Portofolio</th>
                <th scope="col">Status</th>
                <th scope="col">Tanggal Lamar</th>
                <th scope="col">Hasil Test</th>
              </tr>
            </thead>
            <tbody>
              {% for lamaran in semua_lamaran_ku %}
                <tr>
                    <td>
                        <a href="{% url 'lowongan_detail' lamaran.lowongan.id %}">{{ lamaran.lowongan }}</a>
                    </td>
                    <td>{{ lamaran.pelamar.email }}</td>
                    <td>{{ lamaran.pelamar.no_telpon }}</td>
                    <td>
                      <a href="#">Download CV</a>
                    </td>
                    <td>
                      <a href="{{ lamaran.portofolio_link }}" target="blank">Portofolio Link</a>
                    </td>
                    <td>
                      {{ lamaran.status }}
                    </td>
                    <td>{{ lamaran.tanggal_lamar }}</td>
                    {% if lamaran.status == 'Lulus' and lamaran.test_temu_bakat and lamaran.test_psikologi and lamaran.test_coderbyte != '' %}
                      <td>
                        <a href="{% url 'kirim_hasil_test' lamaran.pk %}">Kirim link hasil</a>
                      </td>
                    {% elif lamaran.status == 'Lulus' %}
                      <td>
                        <small class="text-secondary">Test akan dikirim ke email</small>
                      </td>
                    {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
    {% endif %}
{% endblock %}