{% extends 'base.html' %}
{% block title %}
        Lamar Lowongan
{% endblock %}
{% block content %}
    <h5>Lamar ke: {{ lowongan }}</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ apply_form.as_p }}
        <button type="submit" class="btn btn-secondary btn-sm">Lamar</button>
      </form>
{% endblock %}