{% extends 'base.html' %}
{% block title %}
        Detail Lowongan
{% endblock %}
{% block content %}
    <h6><u>{{ lowongan }}</u></h6>
    <p>Deskripsi: {{ lowongan.deskripsi_lowongan }}</p>
    <p>Deadline: {{lowongan.tanggal_tutup}}</p>
    {% if request.user.role == 'HCD' %}
        <p>
            <a href="{% url 'lowongan_update' lowongan.id %}" class="text-primary">Update</a>
        </p>
        <p>
            <a href="{% url 'lowongan_hapus' lowongan.id %}" class="text-danger">Hapus</a>
        </p>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Nama</th>
                <th scope="col">Email</th>
                <th scope="col">Tanggal Lamar</th>
                <th scope="col">Status</th>
                <th scope="col">Periksa Lamaran</th>
                <th scope="col">Notifikasi</th>
              </tr>
            </thead>
            <tbody>
              {% for lamaran in semua_lamaran %}
                <tr>
                  <td>{{lamaran.pelamar.nama}}</td>
                  <td>{{lamaran.pelamar.email}}</td>
                  <td>{{lamaran.tanggal_lamar}}</td>
                  <td>
                    {{ lamaran.status }}
                  </td>
                  <td>
                    <a href="{% url 'detail_lamaran' lamaran.pk %}">Detail lamaran</a>
                  </td>
                  <td>
                    {% if lamaran.status == 'Lulus' %}
                        <a href="{% url 'lulus_berkas_email' lamaran.id %}">Kirim Soal test</a>
                    {% elif lamaran.status == 'Tidak lulus' %}
                      <a class="text-danger" href="{% url 'tidak_lulus_berkas_email' lamaran.id %}">Kirim Pemberitahuan</a>
                    {% endif %}

                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    {% elif request.user.role == 'Pelamar' %}
        <p>
            <a href="{% url 'lamar_lowongan' lowongan.id %}">Lamar</a>
          </p>
    {% endif %}
{% endblock %}