{% extends 'base.html' %}
{% block title %}
        Semua Lamaran
{% endblock %}
{% block content %}
    <h4>Semua Lamaran</h4>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Lowongan</th>
            <th scope="col">Pelamar</th>
            <th scope="col">Tanggal Lamar</th>
            <th>CV Pelamar</th>
            <th>Portofolio</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for lamaran in semua_lamaran %}
            <tr>
                <td>{{ lamaran.lowongan }}</td>
                <td>{{ lamaran.pelamar.nama }}</td>
                <td>{{ lamaran.tanggal_lamar }}</td>
                <td>
                    <a href="{{ lamaran.cv_pelamar }}" target="blank">{{ lamaran.cv_pelamar }}</a>
                </td>
                <td>
                    <a href="{{ lamaran.portofolio_link }}" target="blank">{{ lamaran.portofolio_link }}</a>
                </td>
                <td>{{ lamaran.status }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
        <a href="{% url 'export_csv' %}" class="btn btn-secondary btn-sm m-1" target="blank">Export CSV</a>
        <small class="text-primary">Automatically downloaded as CSV</small>
      </div>
      <div>
        <a href="{% url 'export_pdf' %}" class="btn btn-danger btn-sm m-1" target="blank">Export PDF</a>
        <small class="text-primary">You will view detail in new tab</small>
      </div>
{% endblock %}