{% extends 'base.html' %}
{% block title %}
    Simple Upload
{% endblock %}

{% block content %}
    <form action="{% url 'model_file_upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary btn-sm" type="submit">Upload</button>
    </form>
    <p>
        <a href="{% url 'home' %}">Back to Home</a>
    </p>
{% endblock %}
