{% extends 'base.html' %}
{% block title %}
        Login
{% endblock %}
{% block content %}
<form class="form-control" method="POST" novalidate>
    {% csrf_token %}
    <h5><u>Login Form</u></h5>
    <div class="mb-2">
        <label for="email" class="form-label">Email</label> <br>
        <input type="text" name="email" placeholder="Email">
    </div>
    <div class="mb-2">
      <label for="nama" class="form-label">Password</label> <br>
      <input type="password" name="password" placeholder="Password">
    </div>
    <div class="mb-2">
        <button type="submit" class="btn btn-primary btn-sm">Sign in</button>
    </div>
    <p>Belum punya akun <a href="{% url 'register' %}">Register</a></p>
  </form>
{% endblock %}