{% extends 'base.html' %}
{% block title %}
        Register
{% endblock %}
{% block content %}
<form class="form-control" method="POST" novalidate>
    {% csrf_token %}
    <h5><u>Register Form</u></h5>
    <div class="mb-2">
        <label for="email" class="form-label">Email</label> <br>
        {{ register_form.email }}
    </div>
    <div class="mb-2">
      <label for="nama" class="form-label">Nama</label> <br>
      {{ register_form.nama }}
    </div>
    <div class="mb-2">
        <label for="bio" class="form-label">Bio</label> <br>
        {{ register_form.bio }}
    </div>
    <div class="mb-2">
        <label for="bio" class="form-label">Role anda</label> <br>
        {{ register_form.role }}
    </div>
    <div class="mb-2">
        <label for="bio" class="form-label">Password</label> <br>
        {{ register_form.password1 }} <br>
        <small class="text-secondary">Password harus unit</small>
    </div>
    <div class="mb-2">
        <label for="bio" class="form-label">Konfirmasi Password</label> <br>
        {{ register_form.password2 }}
    </div>
    <div class="mb-2 ">
        <button type="submit" class="btn btn-primary btn-sm">Register</button>
    </div>
    <p>Sudah punya akun <a href="{% url 'login' %}">Login</a></p>
  </form>
{% endblock %}