{% extends 'base.html' %}
{% block title %}
        User Profile
{% endblock %}
{% block content %}
    <div>
        <div class="d-flex align-items-center">
            <div class="ml-3 w-100">
                <h5 class="mb-0 mt-0">
                    {{ request.user.nama }}
                </h5>                
                <p class="mb-0 mt-0">
                    Email: {{ request.user.email}}
                </p>
                <span>Role: {{ request.user.role }}</span>
                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span class="articles">Bio</span>
                        <span class="number1">{{ request.user.bio }}</span>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="followers">Bergabung sejak</span>
                        <span class="number2">{{ request.user.date_joined }}</span>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="rating">None</span>
                        <span class="number3">None</span>
                    </div>
                </div>
                <div class="button mt-2 d-flex flex-row align-items-center"> 
                    <a href="{% url 'lowongan' %}" class="btn btn-sm btn-outline-primary w-100">Lihat Lowongan</a>
                    {% if request.user.role == 'Pelamar' %}
                        <a href="{% url 'lamaranku' %}" class="btn btn-sm btn-outline-primary w-100 m-2">Lamaranku</a>
                    {% endif %}    
                    <a href="{% url 'logout' %}" class="btn btn-sm btn-danger w-100 m-2">Logout</a> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}