<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>
        Rekrutmen | {% block title %}{% endblock %}
    </title>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">RekrutmenApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'lowongan' %}">Lowongan</a>
            </li>
            {% if user.is_authenticated %}
              {% if request.user.is_hcd %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'semua_lamaran' %}">Semua lamaran</a>
                </li>
              {% elif request.user.role == 'Pelamar' %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'lamaranku' %}">Lamaranku</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
              </li>

            {% endif %}
          </ul>
        </div>
      </nav>
  </div>
  <div class="container">
    {% if messages %}
      <div>
        <ul class="list-group" role="alert">
          {% for message in messages %}
          <li {% if message.tags %} class="alert-{{ message.tags }} text-center"  {% endif %}>
            {{ message }}
          </li>
          {% endfor %}  
          {% endif %}
        </ul>
      </div>
    <div class="container card p-3">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>