{% extends 'base.html' %}
{% block title %}
        {{ title }}
{% endblock %}
{% block content %}
    <h5><u>RekrutmenApp</u></h5>
    <p>
        Selamat datang di RekrutmenApp. Aplikasi ini digunakan oleh para HCD dan JobSeeker untuk melalukan proses rekrutmen dan melamar pekerjaan
    </p>
    <p>Lihat available pekerjaan disini! <a href="{% url 'lowongan' %}">Lowongan</a></p>
{% endblock %}