{% extends 'base.html' %}
{% block title %}
        Lamar Lowongan
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h5>Kirim Notifikasi lulus dan link test / {{ select_lamaran.lowongan }}</h5>
        <div>
            <p>Penerima: {{ select_lamaran.pelamar }}</p>
        </div>
        <div class="mb-2">
            <label for="email" class="form-label">Test Temu Bakat link</label> <br>
            <input type="url" name="temu_bakat_test" placeholder="Link Temu bakat">
        </div>
        <div class="mb-2">
          <label for="nama" class="form-label">Test Psikologi link</label> <br>
          <input type="url" name="psikologi_test" placeholder="Link test Psikologi">
        </div>
        <div class="mb-2">
            <label for="bio" class="form-label">Codebyte Challages</label> <br>
            <input type="url" name="codebyte_test" placeholder="Link test Codebytes">
        </div> <br>
        <button type="submit" class="btn btn-primary btn-sm">Kirim</button>
        <a class="p-3" href="{% url 'lowongan_detail' select_lamaran.lowongan.pk %}">Cancel</a>
    </form>
{% endblock %}