{% extends 'base.html' %}
{% block title %}
        Lamar Lowongan
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h5>Kirim Notifikasi tidak lulus ke {{ select_lamaran.pelamar }} / {{ select_lamaran.lowongan }}</h5>
        <div class="border p-3 mb-2">
            {{ message }}
        </div>
        <button type="submit" class="btn btn-danger btn-sm">Kirim</button>
        <a class="p-3" href="{% url 'lowongan_detail' select_lamaran.lowongan.pk %}">Cancel</a>
    </form>
{% endblock %}